.Header .header-link {
  text-decoration: none;
}

.Header .fuzzy {
  font-family: "Eater";
  color: white;
  font-size: 36px;
  text-shadow: -5px -5px 0 #453326, 5px 0px 0 #453326, 0px -5px 0 #453326,
    5px 0 0 #453326, 5px 5px 0 #453326, 0 5px 0 #453326, 0px 5px 0 #453326,
    -5px 0 0 #453326;
}

.whatzies {
  color: white;
  font-size: 36px;
  text-shadow: -5px -5px 0 #453326, 5px 0px 0 #453326, 0px -5px 0 #453326,
    5px 0 0 #453326, 5px 5px 0 #453326, 0 5px 0 #453326, 0px 5px 0 #453326,
    -5px 0 0 #453326;
}

.title-border {
  border: 2px solid black;
  border-radius: 74px;
  background-color: #59d6de;
  box-shadow: 2px 2px 5px black;
  margin-top: 60px;
  padding-bottom: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  display: flex;
  justify-content: center;
}

.fa-paw {
  margin-top: 30px;
  margin-left: -30px;
  font-size: 48px;
  color: #453326;
  position: absolute;
  left: 60%;
  top: -90%;
  z-index: 2;
}

.circle {
  border: 1px solid #f0d2b7;
  background-color: #f0d2b7;
  padding: 2px;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  position: relative;
  top: 42px;
  left: -10%;
  z-index: 1;
}
.username {
  display: none;
}

.google-btn {
  border-radius: 21px;
  background-color: #453326;
  color: white;
  padding: 4px;
  font-size: 20px;
  position: absolute;
  top: 2%;
  right: 5%;
}
