.LeaderBoardRoute {
  /* height: 100vh;
  display: grid; */
  /* margin: 0 6%; */
}

.LeaderBoardRoute .questions-data,
.percent-data {
  background: url(../../public/assets/leopard-background.png);
  background-size: cover;
  /* margin-top: 3vh; */
  border: 2px #453326 solid;
  box-shadow: 2px 2px 5px #453326;
  border-radius: 21px;
}

.LeaderBoardRoute .main {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  margin-top: 10px;
}

.LeaderBoardRoute h2 {
  border: 1px black solid;
  background-color: yellow;
  height: 50px;
  width: 80%;
  margin-left: 3%;

  text-align: center;

  border: 1px #453326 solid;
  border-radius: 10px;
}

.LeaderBoardRoute .difficulty-dropdown {
  background-color: none;
  margin-bottom: 35px;
  font-size: 18px;
  font-weight: 700;
}

.percentData-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.LeaderBoardRoute .lifetime-percent {
  /* margin-top: 20px; */
  position: absolute;
  top: -5%;
}

.LeaderBoardRoute li {
  margin-top: 20px;
}

.questions-data {
  position: relative;
  margin-top: 50px;
}

.LeaderBoardRoute .lifetime-correct {
  position: absolute;
  top: -7%;
}

.LeaderBoardRoute p {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
}

.LeaderBoardRoute .percent-data {
  /* padding-bottom: 2vh; */
}

@media only screen and (min-width: 768px) {
  .difficultyandscores-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  .lifetime-correct {
    font-size: 20px;
  }

  .questions-data {
    width: 40%;
  }
  .percentData-container {
    width: 40%;
  }
}
