.MainRoute {
  display: grid;
  position: relative;
  margin: 0 12.5%;
  height: 80vh;
  background-color: #f0d2b7;
}

.MainRoute h2 {
  color: #b56639;
  font-size: calc(2vw + 2vh);
  text-shadow: -3px -3px 0 #453326, 3px 0px 0 #453326, 0px -3px 0 #453326,
    3px 0 0 #453326, 3px 3px 0 #453326, 0 3px 0 #453326, 0px 3px 0 #453326,
    -3px 0 0 #453326;
  font-family: "Eater";
  text-align: center;
  margin-top: 25px;
}

.MainRoute ul {
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 25px;
}

.MainRoute li {
  box-shadow: #453326;
  list-style: none;
}

.MainRoute button {
  height: 55px;
  width: 40vw;
  font-size: calc(1.5vw + 1.5vh);
  color: #fff;
  text-shadow: -3px -3px 0 #453326, 3px 0px 0 #453326, 0px -3px 0 #453326,
    3px 0 0 #453326, 3px 3px 0 #453326, 0 3px 0 #453326, 0px 3px 0 #453326,
    -3px 0 0 #453326;
  background-color: #80a453;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (min-width: 768px) {
  .MainRoute .image-frame {
    border: 2px black solid;
    background-color: #63d2ff;
    display: flex;
    flex-direction: row;
    flex: 1;
    margin: 5%;
    margin-top: 25%;
    padding: 1% 1%;
    width: 225px;
    height: 215px;
  }

  .MainRoute .container {
    display: flex;
    justify-content: space-evenly;
  }

  .MainRoute .animal-img {
    width: 230px;
    height: 225px;
    position: relative;
    top: -5px;
    right: 2px;
  }
}
