.NewGameRoute {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #f0d2b7;
  margin: 0 12.5%;
  height: 80vh;
}

.NewGameRoute h2 {
  color: #b56639;
  font-size: calc(2.5vw + 2.5vh);
  text-shadow: -3px -3px 0 #453326, 3px 0px 0 #453326, 0px -3px 0 #453326,
    3px 0 0 #453326, 3px 3px 0 #453326, 0 3px 0 #453326, 0px 3px 0 #453326,
    -3px 0 0 #453326;
}

.NewGameRoute h3 {
  font-size: calc(1.5vw + 1.5vh);
  color: #b56639;
}

.NewGameRoute ul {
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 25px;
}

.NewGameRoute li {
  list-style: none;
}

.NewGameRoute .game-btn {
  height: 55px;
  width: 40vw;
  font-size: calc(1.5vw + 1.5vh);
  color: #fff;
  text-shadow: -3px -3px 0 #453326, 3px 0px 0 #453326, 0px -3px 0 #453326,
    3px 0 0 #453326, 3px 3px 0 #453326, 0 3px 0 #453326, 0px 3px 0 #453326,
    -3px 0 0 #453326;
  background-color: #80a453;
}

.NewGameRoute p {
  font-size: calc(0.75vw + 0.75vh);
  color: #b56639;
}

.NewGameRoute .desktop-img {
  display: none;
}

@media only screen and (min-width: 768px) {
  .NewGameRoute .desktop-img {
    display: block;
    height: auto;
    max-height: calc(12vh + 12vw);
  }

  .NewGameRoute button {
    width: 35vw;
  }
}
