.NewGameRoute {
  display: grid;
  grid-template-rows: 0.6fr 0.25fr;
  justify-content: center;
  align-items: center;
  border: 2px black solid;
  background-color: #f0d2b7;
  position: relative;
  margin: 0 12.5%;
  height: 79vh;
}

.NewGameRoute h2 {
  color: #b56639;
  font-size: calc(2.5vw + 2.5vh);
  text-shadow: -3px -3px 0 #453326, 3px 0px 0 #453326, 0px -3px 0 #453326,
    3px 0 0 #453326, 3px 3px 0 #453326, 0 3px 0 #453326, 0px 3px 0 #453326,
    -3px 0 0 #453326;
  display: flex;
  justify-content: center;
}

.NewGameRoute h3 {
  font-size: calc(1.5vw + 1.5vh);
  margin: 0;
}

.NewGameRoute ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.NewGameRoute li {
  list-style: none;
}

.NewGameRoute button {
  font-size: calc(1.5vw + 1.5vh);
  color: #fff;
  text-shadow: -3px -3px 0 #453326, 3px 0px 0 #453326, 0px -3px 0 #453326,
    3px 0 0 #453326, 3px 3px 0 #453326, 0 3px 0 #453326, 0px 3px 0 #453326,
    -3px 0 0 #453326;
  background-color: #80a453;
  height: 6vh;
  width: 50vw;
  margin: 10px 0;
}

.NewGameRoute p {
  font-size: calc(0.75vw + 0.75vh);
  color: #b56639;
  margin: 10px 0;
}

.NewGameRoute .desktop-img {
  display: none;
}

@media only screen and (min-width: 1600px) {
  .NewGameRoute {
    grid-template-columns: 1fr 1fr;
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
    margin: 0 3.5%;
  }

  .NewGameRoute .desktop-img {
    display: block;
    height: 400px;
  }

  .NewGameRoute button {
    width: 35vw;
  }
}
