.QuestionCard .gameSettingsBar {
  font-size: 16px;
  color: #fff;
  display: flex;
  justify-content: center;
  margin: 5px 0;
  text-shadow: #453326 3px 0px 0px, #453326 2.83487px 0.981584px 0px,
    #453326 2.35766px 1.85511px 0px, #453326 1.62091px 2.52441px 0px,
    #453326 0.705713px 2.91581px 0px, #453326 -0.287171px 2.98622px 0px,
    #453326 -1.24844px 2.72789px 0px, #453326 -2.07227px 2.16926px 0px,
    #453326 -2.66798px 1.37182px 0px, #453326 -2.96998px 0.42336px 0px,
    #453326 -2.94502px -0.571704px 0px, #453326 -2.59586px -1.50383px 0px,
    #453326 -1.96093px -2.27041px 0px, #453326 -1.11013px -2.78704px 0px,
    #453326 -0.137119px -2.99686px 0px, #453326 0.850987px -2.87677px 0px,
    #453326 1.74541px -2.43999px 0px, #453326 2.44769px -1.73459px 0px,
    #453326 2.88051px -0.838247px 0px;
}

.QuestionCard .game-settings-img-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 15px;
}

.QuestionCard form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.QuestionCard .timer-container {
  position: fixed;
  background-color: white;
  height: calc(4.5vw + 4.5vh);
  width: calc(4.5vw + 4.5vh);
  border-radius: 50%;
  border: 2px solid black;
  top: 13%;
  left: 9%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.QuestionCard .timer-container p {
  font-size: calc(2vh + 2vw);
}

.QuestionCard img {
  height: 200px;
  border: #453326 solid 2px;
}

.QuestionCard .question-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 0.85vh 0;
}

.QuestionCard .question-asked {
  font-size: calc(1vw + 1vh);
  color: #fff;
  margin-bottom: 10px;
  text-shadow: -2px -2px 0 #453326, 2px 0px 0 #453326, 0px -2px 0 #453326,
    2px 0 0 #453326, 2px 2px 0 #453326, 0 2px 0 #453326, 0px 2px 0 #453326,
    -2px 0 0 #453326;
}

.QuestionCard label {
  font-size: calc(1vw + 1vh);
  font-weight: 600;
}

.QuestionCard input {
  margin: 5px 10px;
}

.QuestionCard .text-input {
  width: 35vw;
  height: 2.5vh;
}

.QuestionCard p {
  margin: 0;
  font-size: calc(1vw + 1vh);
}

.QuestionCard .animal-type-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.QuestionCard .active-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.QuestionCard button {
  height: calc(7vh - 1vw);
  width: 30vw;
  font-size: 24px;
}

.QuestionCard .button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.QuestionCard .whatzie-button {
  background-color: #80a453;
  font-size: calc(1.75vw + 1.75vh);
}

.QuestionCard .endSession-button {
  background-color: #a45353;
}

@media only screen and (max-width: 550px) {
  .QuestionCard .animal-type-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .QuestionCard .active-container {
    grid-template-columns: 1fr;
  }

  .QuestionCard button {
    height: calc(8vh - 1vw);
  }
}

@media only screen and (max-width: 1000px) {
  .QuestionCard .question-container {
    margin: calc(1vh + 0.5vw) 0;
  }
}

@media only screen and (min-width: 1600px) {
  .QuestionCard .flex-div {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .QuestionCard form {
    display: grid;
    grid-template-columns: 1fr;
    width: fit-content;
    margin-left: 15px;
    padding-left: 15px;
  }

  .QuestionCard img {
    height: auto;
    max-height: 400px;
    max-width: 600px;
  }

  .QuestionCard .question-container {
    margin: 15px 0;
    padding: 15px 0;
  }

  .QuestionCard .active-container {
    display: grid;
    grid-template-columns: 1fr;
  }

  .QuestionCard .active-container input {
    margin-top: 10px;
  }

  .QuestionCard button {
    width: 25vw;
  }
}
