.QuestionCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.QuestionCard img {
  height: 20vh;
}

.QuestionCard .type-question {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.QuestionCard form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.QuestionCard .button-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 5vh;
  margin: 12.5px 0;
}

.QuestionCard .whatzie-button {
  background-color: #80a453;
  font-size: calc(1.75vw + 1.75vh);
}

.QuestionCard .endSession-button {
  background-color: #a45353;
  font-size: calc(1.75vw + 1.75vh);
}
