.QuestionCard {
  height: 100%;
}

.QuestionCard .animal-img-game-set-container {
  display: grid;
  align-items: center;
  justify-content: center;
}

.QuestionCard .gameSettingsBar {
  font-size: 16px;
  color: #fff;
  margin: 5px 0;
  text-shadow: -2px -2px 0 #453326, 2px 0px 0 #453326, 0px -2px 0 #453326,
    2px 0 0 #453326, 2px 2px 0 #453326, 0 2px 0 #453326, 0px 2px 0 #453326,
    -2px 0 0 #453326;
}

.QuestionCard form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.QuestionCard .timer-container {
  position: absolute;
  background-color: white;
  height: calc(3.5vw + 3.5vh);
  width: calc(3.5vw + 3.5vh);
  border-radius: 50%;
  border: 2px solid black;
  z-index: 1;
  left: 82%;
  top: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.QuestionCard img {
  height: 200px;
  border: #453326 solid 2px;
}

.QuestionCard .question-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 10px 0;
}

.QuestionCard .question-asked {
  font-size: calc(1vw + 1vh);
  color: #fff;
  margin-bottom: 10px;
  text-shadow: -2px -2px 0 #453326, 2px 0px 0 #453326, 0px -2px 0 #453326,
    2px 0 0 #453326, 2px 2px 0 #453326, 0 2px 0 #453326, 0px 2px 0 #453326,
    -2px 0 0 #453326;
}

.QuestionCard label {
  font-size: calc(1vw + 1vh);
  font-weight: 600;
}

.QuestionCard input {
  margin: 5px 10px;
}

.QuestionCard .text-input {
  width: 35vw;
  height: 2.5vh;
}

.QuestionCard p {
  margin: 0;
  font-size: calc(1vw + 1vh);
}

.QuestionCard .animal-type-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.QuestionCard .active-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.QuestionCard button {
  height: calc(7vh - 1vw);
  /* width: 30vw; */
  font-size: 24px;
}

.QuestionCard .button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.QuestionCard .endSession-button {
  background-color: #a45353;
}

@media only screen and (max-width: 550px) {
  .QuestionCard .animal-type-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .QuestionCard .active-container {
    grid-template-columns: 1fr;
  }

  .QuestionCard button {
    height: calc(8vh - 1vw);
  }
}

@media only screen and (min-width: 1600px) {
  .QuestionCard {
    display: flex;
    /* justify-content: center;
    align-items: center; */
    /* height: 79vh; */
  }

  .QuestionCard .animal-img-game-set-container {
    display: flex;
    flex-direction: column;
    padding: 0 5px;
    align-items: center;
    justify-content: center;
  }

  .QuestionCard img {
    height: 400px;
    margin-top: 25px;
  }

  .QuestionCard form {
    display: grid;
    grid-template-columns: 1fr;
    width: fit-content;
  }

  .QuestionCard .question-container {
    margin: 15px 0 15px 0;
    padding: 15px 0 15px 0;
    border: #453326 solid 3px;
  }

  .QuestionCard button {
    width: 25vw;
  }
}
