.LeaderBoardRoute {
  height: 100vh;
  display: grid;
  margin: 0 6%;
}

.StatsRoute h3 {
  text-align: center;
  margin-top: 45px;
}

.lineChart-h2 {
  display: none;
}

.StatsRoute .difficulty-dropdown {
  position: absolute;
  left: 52%;
  top: 20%;
  border: none;
  font-weight: bold;
  font-size: 18px;
}

.lineChart {
  display: none;
}

.StatsRoute p {
  font-weight: bold;
}

.StatsRoute h2 .sessions {
  border: 1px solid black;
  background-color: yellow;
  padding-top: 10px;
  border-radius: 5px;
  text-align: center;
  width: 70%;
  height: 50px;
  position: absolute;
  z-index: 3;
  top: -5%;
  left: 15%;
}

.orderedlist-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 0px;
}

.session-list {
  background: url(../../public/assets/green-leaf-background.png);
  background-size: cover;
  border: 1px solid black;
  text-decoration: none;
  margin-top: 10px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  width: 110%;
}

h2.game-history {
  border: 1px solid black;
  background-color: yellow;
  padding-top: 10px;
  border-radius: 5px;
  text-align: center;
  width: 70%;
  height: 50px;
  position: absolute;
  z-index: 3;
  top: 2%;
  left: 15%;
}

.gamehistory-area {
  padding: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10%;
  position: relative;
  z-index: 2;
  background: url(../../public/assets/leopard-background.png);
  background-size: cover;
  margin-top: 3vh;
  border: 2px #453326 solid;
  box-shadow: 2px 2px 5px #453326;
  border-radius: 21px;
}
.StatsRoute {
  display: grid;
  position: relative;
  margin: 0 12.5%;
  height: 79vh;
}

.session-area {
  padding: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
  background: url(../../public/assets/leopard-background.png);
  background-size: cover;
  margin-top: 3vh;
  border: 2px #453326 solid;
  box-shadow: 2px 2px 5px #453326;
  border-radius: 21px;
}

@media only screen and (min-width: 768px) {
  .session-area {
    display: none;
  }

  .lineChart {
    padding: 10%;
    display: block;
    position: relative;
    z-index: 2;
    background: url(../../public/assets/leopard-background.png);
    background-size: cover;
    margin-top: 3vh;
    border: 2px #453326 solid;
    box-shadow: 2px 2px 5px #453326;
    border-radius: 21px;
  }

  .gamehistory-area {
    display: none;
  }

  h2.game-history {
    display: none;
  }

  .lineChart-h2 {
    display: block;
  }

  .StatsRoute .difficulty-dropdown {
    position: absolute;
    left: 72%;
    top: 10%;
  }
}
