.StatsRoute h3 {
  text-align: center;
  margin-top: 45px;
}

.StatsRoute .difficulty-dropdown {
  position: absolute;
  left: 62%;
  top: 25%;
  border: none;
  font-weight: bold;
  font-size: 18px;
}

.StatsRoute p {
  font-weight: bold;
}

<<<<<<< HEAD
.StatsRoute h2 .sessions {
=======
h2.sessions {
>>>>>>> 1098f3c8ad948ef1c66e86d8cf5ba8e1cf2b74b1
  border: 1px solid black;
  background-color: yellow;
  padding-top: 10px;
  border-radius: 5px;
  text-align: center;
  width: 70%;
  height: 50px;
  position: absolute;
  z-index: 3;
  top: -5%;
  left: 15%;
}

<<<<<<< HEAD
.StatsRoute .session-list {
=======
.orderedlist-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 0px;
}

.session-list {
>>>>>>> 1098f3c8ad948ef1c66e86d8cf5ba8e1cf2b74b1
  border: 1px solid black;
  text-decoration: none;
  margin-top: 10px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  background-color: #80a453;
  width: 110%;
}
<<<<<<< HEAD
.StatsRoute .main-area {
=======
h2.game-history {
  border: 1px solid black;
  background-color: yellow;
  padding-top: 10px;
  border-radius: 5px;
  text-align: center;
  width: 70%;
  height: 50px;
  position: absolute;
  z-index: 3;
  top: 31%;
  left: 15%;
}

.gamehistory-area {
>>>>>>> 1098f3c8ad948ef1c66e86d8cf5ba8e1cf2b74b1
  border: 1px solid black;
  background-color: #f0d2b7;
  padding: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10%;
  margin-top: 80px;
  position: relative;
  z-index: 2;
}
<<<<<<< HEAD
.StatsRoute {
  background: url(../../public/assets/green-leaf-background.png);
  height: 100vh;
=======

.session-area {
  border: 1px solid black;
  background-color: #f0d2b7;
  padding: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10%;
  margin-top: 100px;
  position: relative;
  z-index: 2;
}

@media only screen and (min-width: 768px) {
>>>>>>> 1098f3c8ad948ef1c66e86d8cf5ba8e1cf2b74b1
}
