/* resets */
p,
h1,
h2,
li,
img,
div,
form,
header,
main,
h3,
input,
label,
button,
ul {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  /* font-family: "Eater", cursive; */
  /* look at index.html for font import script held in public folder */
  /* Eater is used in Header.css */
}

html {
  background: url(../public/assets/green-leaf-background.png);

  background-size: cover;
}

.index {
  display: flex;
  align-items: center;
  justify-content: center;
}
