/* resets */
p,
h1,
h2,
li,
img,
div,
form,
header,
main,
h3,
input,
label,
button,
ul {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  /* font-family: "Eater", cursive; */
}

.index {
  display: flex;
  align-items: center;
  justify-content: center;
}
