/* resets */
p,
h1,
h2,
li,
img,
div,
form,
header,
main,
h3,
input,
label,
button,
ul {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  /* font-family: "Eater", cursive; */
}

body {
  /* background: url(../public/assets/favpng_leopard-pattern.png), red; */
}

/* .index {
  background-image: url(../public/assets/erik-mclean-0DqYWHY4GpA-unsplash.jpg);
} */

/* font-family: 'Eater', cursive;
font-family: 'Inter', sans-serif; */
